header,main,footer{

max-width: 100% !important;
overflow-x: hidden !important;

}












.bodega-container{
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 8;
    column-gap: 5px;
    row-gap: 5px;
}

.bodega-container img {
    width: 100%;
}

.bodega-container p {

display: flex;
text-align: center;
align-items: center;
color:bisque;


}
.grid-item-1{
    grid-column: 1 / 2;
}
.grid-item-2{
    grid-column: 2 / 3;
}





@media only screen and (max-width: 350px){
    .menu-navbar {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        margin-right: 1em;

    
    
    }
    
    ul {
        flex-direction: column;
        margin:0;
        padding: 0;
        
    
    }
    
    ul li {
        margin: 0;
        padding: 0;

      }
      

}
@media only screen and (min-width: 1024px){

    .bodega-container{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 0.9fr 0.2fr;
        column-gap: 15px;
        margin: 0;
        padding: 0;

    }
    
    .bodega-container img {
        padding: 0;
        margin: 0;
        height: 90%;
        width: 100%;
        align-items: center;
    }
    
    .bodega-container p {

    
    justify-content: center;
    align-items: baseline;
    color:bisque;
    size: 3em;
    
    
    
    
    }
    .grid-item-1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .grid-item-2{
        grid-column: 1/ 2;
        grid-row: 2 / 3;
    }
    .grid-item-3{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .grid-item-4{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .grid-item-5{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .grid-item-6{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .nosotros-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    

}