* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: bisque;
}

.logo-header {
  width: 4em;
}

footer {
  width: 100%;
  border: 1px black solid;
  height: 3rem;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  background-color: #212529;
  position: fixed;
  bottom: 0;
  overflow-y: hidden;
}
footer img {
  margin-right: 1rem;
}

main {
  background-color: #102c54;
}

.carrusel-imagenes-index {
  margin-top: 6.6em;
}

h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: black 5px 5px;
}

.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.colage {
  margin-top: 30px;
  margin-bottom: 4em;
}
.colage .col {
  display: flex;
  align-items: center;
}
.colage .col p {
  font-size: 1em;
  margin: 1em;
}

@keyframes desvanecer {
  from {
    opacity: 50%;
  }
  to {
    opacity: 0%;
  }
}
.bodega-container {
  margin: 1em;
  margin-top: 5.8em;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.bodega-container p {
  text-align: center;
  margin: 1em;
}
.bodega-container img {
  margin: 1em;
}
.bodega-container img:hover {
  animation-name: desvanecer;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
}

@keyframes desvanecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contacto-container {
  margin: 1em;
  margin-top: 8em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
}
.contacto-container .mapa-container .mapa {
  width: 100%;
}
.contacto-container .datos-contacto p {
  text-align: center;
  margin-top: 1em;
}

.card-container {
  margin: 1em;
  margin-top: 7em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container .card {
  width: 100% !important;
  overflow-y: hidden !important;
  margin: 1em;
  border: 1px solid bisque;
  background: rgb(21, 21, 112);
  background: linear-gradient(90deg, rgb(21, 21, 112) 16%, rgb(2, 8, 37) 100%);
  max-width: 550px;
}
.card-container .card .card-text {
  text-align: center;
}

.card-container {
  overflow-y: hidden;
}
.card-container h5 {
  color: bisque;
}

@media only screen and (min-width: 600px) {
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card-container .card {
    max-width: 250px;
  }
  .card-container .card .card-img-top {
    height: 250px;
  }
  .card-nosotros {
    max-width: 500px !important;
    max-height: 600px !important;
  }
  .card-nosotros .card-img-top {
    height: auto !important;
  }
  .bodega-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .bodega-container img {
    max-width: 700px !important;
  }
  .bodega-container p {
    margin: auto;
    text-align: center;
  }
}
@media only screen and (min-width: 1720px) {
  .card-container {
    height: 750px !important;
  }
}

/*# sourceMappingURL=style.css.map */
